<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>绑定与组件化的基本使用</title>
</head>
<body>
   <div id="app">
    <custom-screen v-model="text"></custom-screen>
    </br>
    <input type="text" v-model="text">
   </div>
  <script src="../js/vue.js"></script>
  <script>
  Vue.component('custom-screen',{
      //1.使用value属性接受外部传输的值
      props: ['value'],
      methods: {
          handleReset () {
              console.log('重置。。。')
              //使用$emit发送input事件，并将目标值作为参数传出
              this.$emit('input','')
          }
      },
      template: `
        <div>
            <h2>输入值为:{{ value }}</h2>
            <button @click="handleReset">重置为空</button>    
        </div>
      `
  })
    let vm = new Vue({
        el: '#app',
        data: () =>({text: ''})
    })
  </script>
</body>
</html>